{{- if isset .Site.Params "giscus" -}}
  {{- if and (isset .Site.Params.giscus "repo") (not (eq .Site.Params.giscus.repo "" )) (eq (.Params.comment | default true) true) -}}
  <article id="giscus-wrapper">
  </article>
  <script>
    const giscus_light =
      "https://cdn.jsdelivr.net/gh/prayinforrain/prayinforrain.github.io@main/static/styles/_giscus.css";
    const giscus_dark =
      "https://cdn.jsdelivr.net/gh/prayinforrain/prayinforrain.github.io@main/static/styles/_giscus_dark.css";
    let giscusTheme = localStorage.getItem("theme");
    if(!giscusTheme) {
      giscusTheme = "light";
      if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
      ) {
        defaultTheme = "dark";
      }
    }

    let giscusAttributes = {
      "src": "https://giscus.app/client.js",
      "data-repo": "{{ .Site.Params.giscus.repo }}",
      "data-repo-id": "{{ .Site.Params.giscus.repoID }}",
      "data-category": "{{ .Site.Params.giscus.category }}",
      "data-category-id": "{{ .Site.Params.giscus.categoryID }}",
      "data-mapping": "{{ default "pathname" .Site.Params.giscus.mapping }}",
      "data-reactions-enabled": "{{ default "1" .Site.Params.giscus.reactionsEnabled }}",
      "data-emit-metadata": "{{ default "0" .Site.Params.giscus.emitMetadata }}",
      "data-input-position": "{{ default "bottom" .Site.Params.giscus.inputPosition }}",
      "data-theme": giscusTheme === "dark" ? giscus_dark : giscus_light,
      "data-lang": "en",
      "crossorigin": "anonymous",
      "async": "",
    };
    
    let giscusScript = document.createElement("script");
    Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
    document.getElementById('giscus-wrapper').appendChild(giscusScript);
  </script>
  {{- end -}}
{{- end -}}