{{ define "title" }}404 page not found - {{ .Site.Title }}{{ end }}

{{ define "content" }}
<div class="not-found">
  <h1 class="error-emoji"></h1>
  <p class="error-text">/* 404 page not found. */</p>
  <aside class="error-notice">
    <p>
      <h3>💡 갱신되지 않은 이력서에 연결된 포스트의 링크가 잘못된 문제가 있습니다.</h3>
      <a href="https://lily-muenster-f8b.notion.site/8e59068da9114724977496e76bb529f3">[새 이력서]</a>에서 갱신된 이력서를 확인하시거나, 아래 리스트에서 글을 확인해 주세요. 죄송합니다 😥
    </p>
    <ul class="error-article-list"></ul>
  </aside>
  <p class="error-link"><a href="{{ "/" | relLangURL }}">↑ Back Home ↑</a></p>
</div>
<script>
  var errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
  var emojiArray = [
    '\\(o_o)/', '(o^^)o', '(˚Δ˚)b', '(^-^*)', '(≥o≤)', '(^_^)b', '(·_·)',
    '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/',
  ];
  var errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
  errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));

  var articleUList = document.getElementsByClassName('error-article-list')[0];
  var articles = [
    {
      title: "Package Manager",
      href: "https://prayinforrain.github.io/post/2022/11/npm-vs-yarn-vs-pnpm/",
    },
    {
      title: "상태 관리 라이브러리",
      href: "https://prayinforrain.github.io/post/2022/11/redux-vs-recoil/",
    },
    {
      title: "CSS-in-JS",
      href: "https://prayinforrain.github.io/post/2022/11/emotion/",
    },
    {
      title: "GFM(GitHub Flavored Markdown)",
      href: "https://github.github.com/gfm/",
    },
    {
      title: "마크다운 에디터 구현",
      href: "https://prayinforrain.github.io/post/2022/11/making-editor-contenteditable/",
    },
    {
      title: "사이드바 리렌더링 방지",
      href: "https://prayinforrain.github.io/post/2022/12/prevent-sidebar-blinking/",
    },
  ]

  articles.forEach((item) => {
    const newItem = document.createElement('li');
    const a = document.createElement('a');
    a.innerText = item.title;
    a.setAttribute('href', item.href);
    newItem.appendChild(a);
    articleUList.appendChild(newItem);
  })
</script>
{{ end }}
