// ==============================
// Logo
// =============================

.logo-wrapper {
  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    transition: all 0.1s ease;
    background-color: $white;
    padding: 0.1em 0.3em;
    border-radius: 0.2em;
    font-weight: 600;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
